@model StudentProject.Dto.StudentDto

@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container p-3 my-3 border">
    <h1>Student Details</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Marks.FirstOrDefault().Tamil)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Marks.FirstOrDefault().Tamil)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Marks.FirstOrDefault().English)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Marks.FirstOrDefault().English)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Marks.FirstOrDefault().Maths)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Marks.FirstOrDefault().Maths)
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="AddOrEdit" asp-route-studentId="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Index">Back</a>
    </div>
</div>
